/* Body Reset */
body {
    background: linear-gradient(135deg, #1C1C1C, #333333);
    background-attachment: fixed;
    /* Fixiere den Hintergrund, um Brüche zu vermeiden */
    background-size: cover;
    /* Stellt sicher, dass der Verlauf die gesamte Seite abdeckt */
    background-color: #1C1C1C;
    color: white;
}

/* Entferne jegliche Hintergrundfarbe von main */
main {
    background: none;
    /* Kein eigener Hintergrund für das main-Element */
    margin-top: 60px;
    /* Platz für den festen Header */
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-size: x-large;
}

/* Titel im Kontaktbereich weiter nach unten setzen */
.page h2 {
    margin-top: 100px;
}

/* Header Navigation Styling */
.header-bar {
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
}

/* Anpassung nur für den englischen Header */
.english-header {
    justify-content: center;
    gap: 30px;
}

.english-header .nav-link {
    flex: 1;
    text-align: center;
}

.nav-link {
    margin: 0 50px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-link.active {
    color: #FFCC00 !important;
}

/* Language switcher styling */
.language-switcher {
    display: flex;
    align-items: center;
    gap: 10px;
}

.language-flag {
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
    display: inline-block;
    background-size: cover;
    background-position: center;
}

/* Opazität für die aktive- und nicht-aktive Flagge */
.inactive-flag {
    opacity: 0.1;
}

.active-flag {
    opacity: 0.3;
}

/* Platz für den Header schaffen */
main {
    margin-top: 60px;
    text-align: center;
    font-size: x-large;
}

/* Willkommenstext und Icon Styling */
main h2 {
    font-size: 24px;
    color: white;
}

.icon-left,
.icon-right {
    margin: 0 30px;
}

.person-icon,
.career-icon,
.education-icon,
.skills-icon,
.contact-icon {
    margin-top: 20px;
    transition: transform 0.3s;
    width: 30%;
}

.person-icon:hover,
.career-icon:hover,
.education-icon:hover,
.skills-icon:hover,
.contact-icon:hover {
    transform: scale(1.1);
}

/* Animationen */
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

/* Füge die Animation zur Seite hinzu */
.page {
    animation: slideIn 0.5s forwards;
}

/* Klasse für das Herausgleiten, die wir per JavaScript hinzufügen */
.page.out {
    animation: slideOut 0.5s forwards;
}

/* Header Text Styling für Home und andere Seiten */
.header-bar h1 {
    font-size: 24px;
    margin: 0;
    color: black;
    flex-grow: 1;
    text-align: center;
}

/* Button Styling für Beruflicher und Schulischer Werdegang */
.career-timeline,
.education-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.career-button,
.education-button {
    background-color: #FFCC00;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 60px 0;
    font-size: 28px;
    border-radius: 10px;
    cursor: pointer;
}

.career-button:hover,
.education-button:hover {
    background-color: #0047FF;
}

/* Skills Styling */
.skills-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px 0;
}

.skill-rating {
    display: flex;
    gap: 10px;
}

.skill-rating span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #FFCC00 !important;
}

.skills-container .skill-rating span.filled {
    background-color: #FFCC00 !important;
    border-color: #FFCC00 !important;
}


/* Kontaktformular Styling */
.contact-form {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 40px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
    text-align: center;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    box-sizing: border-box;
}

.contact-form input[type="submit"] {
    background-color: #FFCC00;
    color: #1C1C1C;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
}

.contact-form input[type="submit"]:hover {
    background-color: #FFCC00;
}

/* Back-to-Top Button Styling */
#backToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 75px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    opacity: 0.8;
    transition: opacity 0.3s;
}

#backToTop:hover {
    transform: scale(1.2);
}

#backToTop:hover .arrow-up {
    border-bottom-width: 36px;
    border-bottom-color: #0047FF;
}

#backToTop:hover .back-to-top-text {
    font-size: 18px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #FFCC00;
    margin-bottom: 10px;
}

.back-to-top-text {
    font-size: 16px;
    color: white;
    margin-top: 2px;
    text-align: center;
    opacity: 0.8;
}

/* Timeline Styling */
.timeline-section {
    margin: 40px 0;
    padding: 0;
    border-left: none;
    background-color: transparent;
}

.timeline-header {
    width: 100%;
    margin-bottom: 10px;
}

.timeline-header h3 {
    background-color: #FFCC00;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
}

.timeline-content {
    padding: 10px;
    background-color: transparent;
    border-radius: 8px;
    color: #FFFFFF;
}

.timeline-content h3 {
    margin-top: 0;
    color: wheat;
}

.timeline-content h2 {
    margin-top: auto;
    color: wheat;
}

.timeline-content p {
    margin: 5px 0;
}

.timeline-content ul {
    padding-left: 20px;
}

.timeline-content ul li {
    list-style-type: disc;
    margin-bottom: 15px;
}

.timeline-content ul li::marker {
    color: white;
}

/* Bild im "About Me"-Bereich anpassen */
.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Anpassungen für mobile Geräte */
@media (max-width: 768px) {
    .header-bar {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px 0;
        position: fixed;
    }

    .nav-link {
        font-size: 16px;
        display: inline-block;
    }

    .language-switcher {
        position: fixed;
        top: 50px;
        left: 20px;
        display: flex;
        gap: 10px;
        z-index: 1000;
    }

    main h2 {
        font-size: 20px;
        text-align: center;
    }

    main p,
    main ul,
    main li {
        font-size: 16px;
        text-align: center;
    }

    main {
        margin-top: 120px;
        margin-left: 0;
        margin-right: 0;
    }

    .person-icon,
    .career-icon,
    .education-icon,
    .skills-icon,
    .contact-icon {
        width: 50%;
        height: auto;
        margin-top: 30px;
    }

    .skills-container {
        width: 100%;
    }

    .skill {
        flex-direction: column;
    }

    .contact-form {
        padding: 10px;
    }

    .career-button,
    .education-button {
        font-size: 20px;
        padding: 8px 16px;
    }

    .timeline-content {
        text-align: center;
    }

    .timeline-header h3 {
        font-size: 1.5rem;
        padding: 15px;
        width: 90%;
        margin: 0 auto;
        display: inline-block;
    }

    .about-image img {
        width: 80%;
        margin: 0 auto;
        display: block;
    }

    #backToTop:hover {
        transform: none;
    }

    #backToTop:hover .arrow-up {
        border-bottom-width: 30px;
        border-bottom-color: #FFCC00;
    }

    #backToTop:hover .back-to-top-text {
        font-size: 16px;
    }

    #backToTop {
        right: 20px;
        bottom: 40px;
        position: fixed;
    }
}

.language-switcher {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.language-flag {
    width: 30px;
    height: 20px;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.1);
}

@supports (-webkit-touch-callout: none) {
    .header-bar {
        position: sticky;
        top: 0;
        z-index: 1000;
    }
}

/* Toggle Switch Styles */
.theme-switch-wrapper {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 100;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    background-color: white;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
    border-radius: 50%;
}

.slider.round:before {
    background-size: cover;
}

input:checked + .slider {
    background-color: #333;
}

input:checked + .slider::before {
    transform: translateX(26px);
}

body.light-mode {
    background: linear-gradient(135deg, #D3D3D3, #FFFFFF);
    color: #333;
}

body.light-mode h2 {
    color: darkgray;
}

body.light-mode ul li::marker {
    color: black;
}

body.light-mode ul {
    color: black;
}

body.light-mode h3 {
    color: black;
}

body.light-mode .header-bar {
    background-color: #0047FF;
}

body.light-mode .nav-link {
    color: wheat;
}

body.light-mode .nav-link.active {
    color: darkgray !important;
}

body.light-mode .career-button,
body.light-mode .education-button,
body.light-mode .contact-form input[type="submit"] {
    background-color: #0047FF;
    color: wheat;
}

body.light-mode .timeline-header h3 {
    background-color: #0047FF;
    color: wheat;
}

body.light-mode .career-button:hover,
body.light-mode .education-button:hover {
    background-color: darkgray;
}

body.light-mode .slider {
    background-color: #ccc;
}

body.light-mode .back-to-top-text {
    color: black;
}

body.light-mode #backToTop:hover .arrow-up {
    border-bottom-color: darkgray;
}

body.light-mode .arrow-up {
    border-bottom: 30px solid #0047FF;
}
